<div class="postContainer replyContainer" id="pc883611">
		<div class="sideArrows" id="sa883611">&gt;&gt;</div>
		<div id="p883611" class="post reply">
			<div class="postInfoM mobile" id="pim883611">
				<span class="nameBlock">
					<span class="name">Anonymous</span>
					<br>
				</span>
				<span class="dateTime postNum" data-utc="1443928181">
					10/03/15(Sat)23:09:41 
					<a href="thread/883397#p883611" title="Link to this post">No.</a>
					<a href="thread/883397#q883611" title="Reply to this post">883611</a>
				</span>
			</div>
			<div class="postInfo desktop" id="pi883611">
				<input type="checkbox" name="883611" value="delete"> 
				<span class="nameBlock">
					<span class="name">Anonymous</span> 
				</span> 
				<span class="dateTime" data-utc="1443928181">10/03/15(Sat)23:09:41</span> 
				<span class="postNum desktop">
					<a href="thread/883397#p883611" title="Link to this post">No.</a>
					<a href="thread/883397#q883611" title="Reply to this post">883611</a>
				</span>
			</div>
			<blockquote class="postMessage" id="m883611">
				<br>
				<%= text %> 
				<br>
			</blockquote>
		</div>
</div>